@model ICollection<EClinic.Web.ViewModels.Appointments.DoctorNameAndUserNameViewModel>


@{
    ViewData["Title"] = "ShowMont";
}


<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Book an Appointment</h2>

        </div>
    </div>
</div>

<!-- ######## Page  Title End ####### -->
<!-- ################# With Medical Starts Here#######################--->

<section class="our-team" style="height:70%">
    <div class="container">
        <div class="row team-member" >
            <!-- Doctors Start Hire -->

            @if (Model.Count() > 0)
            {
                @foreach (var doctor in Model)
                {

                    <div class="col-md-3 col-sm-6">
                        <div class="user-card">
                            <div class="userar">
                                <img class="teammempic" alt="" src="assets/images/team/team-memb1.jpg">
                            </div>
                            <div class="detfs">
                                <p>@doctor.Name</p>
                                <br>
                                <p><span><a class="btn btn-info" asp-controller="Appointment" asp-action="ShowMonth" asp-route-userName="@doctor.UserName">Make Appointment</a></span></p>

                            </div>
                        </div>
                    </div>


                }
            }
            else
            {
                <div>
                    <strong>There are no doctors hire.</strong>
                </div>
            }


        </div>
    </div>
</section>

