
@{
    ViewData["Title"] = "ShowMont";
}


    <partial name="Partials/_ShowMothStyle" />

<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Book an Appointment</h2>

        </div>
    </div>
</div>

<!-- ######## Page  Title End ####### -->
<!-- ################# With Medical Starts Here#######################--->

<section class="with-medical">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 txtr">

                @{
                    int month = (int)ViewData["Month"];
                    var monthDays = DateTime.DaysInMonth(DateTime.UtcNow.Year, month);
                }


                <main>
                    <div class="toolbar">
                        <div class="current-month">@DateTime.Parse($"01/{month}/{DateTime.UtcNow.Year}", new CultureInfo("bg-BG")).ToString("MMMM" , CultureInfo.InvariantCulture)</div>
                    </div>
                    <div class="calendar">
                        <div class="calendar__header">
                            <div>mon</div>
                            <div>tue</div>
                            <div>wed</div>
                            <div>thu</div>
                            <div>fri</div>
                            <div>sat</div>
                            <div>sun</div>
                        </div>

                        @for (var day = 1; day <= monthDays;)
                        {
                            <div class="calendar__week">
                                @for (var dayOfWeek = 0; dayOfWeek < 7 && day <= monthDays; dayOfWeek++)
                                {
                                    <div class="calendar__day day">
                                @day 
                                        <div class="inline-flex text-white">
                                            @if (day >= DateTime.UtcNow.Day)
                                            {
                                                <a class="btn btn-info btn-sm" asp-controller="Appointment" asp-action="ShowDay" asp-route-day="@day" asp-route-month="@month" asp-route-doctorUsername="@ViewData["Doctor"]">Choose day</a>
                                            }
                                        </div></div>

                                    day++;
                                }
                            </div>
                        }


                    </div>
                </main>


            </div>
        </div>
    </div>
</section>

