
@model ICollection<EClinic.Web.ViewModels.Site.MenuViewModel>

    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>

        @foreach (var item in Model)
        {
            <li><a asp-controller="Home" asp-action="GetPage" asp-route-id="@item.Id">@item.Title</a></li>
        }
        <li><a href="https://eclinicnelov.azurewebsites.net/">Live preview</a></li>
    </ul>

