
@{
    ViewData["Title"] = "Contacts";
}

<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Contacts</h2>
            
        </div>
    </div>
</div>

<!-- ######## Page  Title End ####### -->
<!-- ################# Our Blog Starts Here#######################--->


<div style="margin-top:0px;" class="row no-margin">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1222.8300862727858!2d23.549016202133224!3d43.20117280092281!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ab18df31918197%3A0xa0f61a7b284622de!2z0J_QsNC80LXRgtC90LjQuiDQpdGA0LjRgdGC0L4g0JHQvtGC0LXQsg!5e0!3m2!1sbg!2sbg!4v1563572584876!5m2!1sbg!2sbg" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


</div>

<div class="row contact-rooo no-margin">
    <div class="container">
        <div class="row">


            <div style="padding:20px" class="col-sm-6">
                <h2 style="font-size:18px">Contact Form</h2>
                <div class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Enter Name :</label></div>
                    <div class="col-sm-8"><input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"></div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Email Address :</label></div>
                    <div class="col-sm-8"><input type="text" name="name" placeholder="Enter Email Address" class="form-control input-sm"></div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Mobile Number:</label></div>
                    <div class="col-sm-8"><input type="text" name="name" placeholder="Enter Mobile Number" class="form-control input-sm"></div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label>Enter  Message:</label></div>
                    <div class="col-sm-8">
                        <textarea rows="5" placeholder="Enter Your Message" class="form-control input-sm"></textarea>
                    </div>
                </div>
                <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                    <div class="col-sm-8">
                        <button class="btn btn-danger btn-sm">Send Message</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">

                <div style="margin:50px" class="serv">





                    <h2 style="margin-top:10px;">Address</h2>

                    Smart Hospital <br>
                    Daman Street<br>
                    K.K District<br>
                    Phone:+91 9159669599<br>
                    Email:info@smart-eye.in<br>
                    Website:www.smart-eye.com<br>







                </div>


            </div>

        </div>
    </div>

</div>

