
@{
    ViewData["Title"] = @Model.Title;
}

@model EClinic.Web.ViewModels.Site.PageViewModel


<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>@Model.Title</h2>
            
        </div>
    </div>
</div>

<!-- ######## Page  Title End ####### -->
<!-- ################# With Medical Starts Here#######################--->

<section class="with-medical">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 txtr">
                <p>@Model.Content</p>
            </div>
            <div class="col-lg-6 col-md-12">
                <img src="~/assets/images/why.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- ################# Key Features Starts Here#######################--->

<section class="key-features">
    <div class="row no-margin">
        <div class="col-md-3 kvxol col-sm-6">
            <div class="single-key ky-1">
                <i class="fas fa-hospital-alt"></i>
                <h5>Newest Technologies</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>

        <div class="col-md-3 kvxol  col-sm-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <h5>Experianced Doctors</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>

        <div class="col-md-3 kvxol col-sm-6">
            <div class="single-key ky-1">
                <i class="fas fa-briefcase-medical"></i>
                <h5>High Customer Satisfaction</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>

        <div class="col-md-3 kvxol col-sm-6">
            <div class="single-key ky-2">
                <i class="fas fa-capsules"></i>
                <h5>Pharma Pipeline</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>



    </div>
</section>



